@{
    ViewData["Title"] = "Home Page";
}

<h4>Welcome to My Product Registration System</h4>

<a asp-action="AddProduct">Add Products</a>
<a asp-action="ViewProduct">View Products</a>
<a asp-action="UpdateProduct">Update Product Records</a>